@using QuickVault.Configuration
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @QuickVaultConfigurationManager.AppSettings["DemoProp1"]
    </div>
    <div>
        @QuickVaultConfigurationManager.AppSettings["DemoProp2"]
    </div>
</body>
</html>
